#!/usr/bin/make -f

PKG=flash1.0.2
VER=1.0.2
DEB_DIR=debian/${PKG}

%:
	dh $@

build:
	sh buildBinaries.sh

override_dh_auto_install:
	mkdir -p ${DEB_DIR}/usr/lib/${PKG}/bin
	mkdir -p ${DEB_DIR}/usr/bin
	for filename in 'flash'; do \
		install -m755 $${filename} ${DEB_DIR}/usr/lib/${PKG}/bin/$${filename}; \
		echo "export PATH=/usr/lib/${PKG}/bin/:\$$PATH; exec $$filename \"$@\"" >  ${DEB_DIR}/usr/bin/$${filename}${VER}; \
		done

