#!/usr/bin/make -f

PRG=flash
VER=1.0.2
PKG=$(PRG)$(VER)
DEB_DIR=debian/$(PKG)
PKG_LIB_DIR=/usr/lib/$(PKG)
BIN_LIST=flash
BIN_WRAPPER=\
'\#!/bin/sh\n'\
'export PATH=$(PKG_LIB_DIR)/bin:$$PATH\n'\
"exec $${BIN}" '"$$@"'

%:
	dh $@

override_dh_auto_install:
	mkdir -p $(DEB_DIR)/usr/bin $(DEB_DIR)$(PKG_LIB_DIR)/bin
	for BIN in $(BIN_LIST); do \
		BASE_BIN=$$(basename $${BIN});\
		install -m 755 $${BIN} $(DEB_DIR)$(PKG_LIB_DIR)/bin/$${BASE_BIN};\
		echo $(BIN_WRAPPER) | sed 's/^ *//' > $(DEB_DIR)/usr/bin/$${BASE_BIN}$(VER);\
	done
