#!/usr/bin/make -f

PRG=flash
VER=1.0.2
PKG=$(PRG)$(VER)
DEB_DIR=debian/$(PKG)
PKG_LIB_DIR=/usr/lib/$(PKG)

%:
	dh $@

override_dh_auto_install:
	mkdir -p $(DEB_DIR)$(PKG_LIB_DIR)/bin
	mkdir -p $(DEB_DIR)/usr/bin
	for filename in $$(ls $(PRG)); do \
		install -m755 $${filename} $(DEB_DIR)$(PKG_LIB_DIR)/bin/; \
		echo '#!/bin/sh\nexport PATH=$(PKG_LIB_DIR)/bin:$${PATH}\nexec' $${filename} '"$$@"' > $(DEB_DIR)/usr/bin/$${filename}$(VER); \
		done
